<mat-list>
    <mat-list-item 
        *ngFor="let playlist of playlists; index as i " 
        (click)="select(playlist.id)"
        [class.selected]=" playlist.id === selected">

        <span matLine> {{ i+1 }}. {{ playlist.name }} </span>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>

{{selected}}
