<select class="form-control me-2" 
(change)="search($any($event.currentTarget).selectedOptions[0].value)">
    <option value="">-- recent search --</option>
    <option [value]="query" *ngFor="let query of queries">
        {{query}}
    </option>
</select>