<form [formGroup]="playlistForm" (ngSubmit)="submit()">

    <pre>{{playlistForm.value | json}}</pre>

    <div class="row">
        <div class="col">
            <mat-form-field appearance="standard" style="width:100%">
                <mat-label>Name:</mat-label>
                <input type="text" matInput #nameRef formControlName="name" customValidator>
                <mat-hint>{{nameRef.value.length}} / 170</mat-hint>
                <mat-error *ngIf="playlistForm.get('name')?.hasError('custom')">Custom error</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <!-- <div formControlName="public"></div> -->
            <!-- <mat-checkbox style="width:100%" formControlName="public">Public</mat-checkbox> -->
            <app-awesome-checkbox style="width:100%" formControlName="public">Public</app-awesome-checkbox>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field appearance="standard" style="width:100%">
                <mat-label>Description:</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>

        </div>
    </div>
    <button mat-raised-button color="warn" (click)="cancel.emit()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>

</form>