<div class="row">
    <div class="col">
        <app-search-form [query]=" (query | async ) || '' " (search)="search($event)"></app-search-form>
    </div>
</div>
<div class="row">
    <div class="col">
        <!-- <p class="alert alert-danger" *ngIf="message">{{message}}</p> -->

        <div *ngIf="results | async as albums">

            <p>Found {{albums.length}} results</p>
 
            <app-results-grid [results]="albums"></app-results-grid>

        </div>
    </div>
</div>