<div class="row">
    <div class="col">
        <!-- <app-playlist-list [items]="playlists"></app-playlist-list> -->
        <app-playlist-list [playlists]="playlists" (selectedChange)="selectPlaylist($event)">
        </app-playlist-list>

        
      <app-counter></app-counter>

        <!-- <input type="text" [value]="playlists[0].name" 
            (change)=" playlists[0].name = $any($event.currentTarget).value  "> -->
    </div>
   

     <div class="col">
        {{selected?.name }}

        <div [ngSwitch]="mode" *ngIf="selected else noPlaylistRef">

            <app-playlist-details *ngSwitchDefault [playlist]="selected" (edit)="edit()"></app-playlist-details>

            <app-playlist-edit-form *ngSwitchCase=" 'edit' " [playlist]="selected" (save)="savePlaylist($event)"
                (cancel)="cancel()"></app-playlist-edit-form>

            <app-playlist-edit-form *ngSwitchCase=" 'create' " [playlist]="emptyPlaylist" (save)="addPlaylist($event)"
                (cancel)="cancel()"></app-playlist-edit-form>
        </div>

        <ng-template #noPlaylistRef>
            <p class="alert alert-info">Please select playlist</p>
        </ng-template>

    </div>
</div>
 <!-- <div class="col">

        <app-tabs>
            <app-tab title="A">A</app-tab>
            <app-tab title="B">B</app-tab>
            <app-tab title="C">C</app-tab>
        </app-tabs>

        <app-tabs>
            <app-tab title="D">D</app-tab>
            <app-tab title="E">E</app-tab>
            <app-tab title="F">F</app-tab>
        </app-tabs>


    </div> -->
