<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">MusicApp</a>

    <button class="navbar-toggler" type="button" (click)="navbarOpen=!navbarOpen">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="navbarOpen">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="#/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/playlists">Playlists</a>
        </li>
      </ul>
    </div>
    <div class="navbar-text ml-auto">
      <form class="d-flex">
        <app-recent-searches></app-recent-searches> <a (click)="login()" class="ms-2 navbar-text">Login</a>
      </form>
    </div>
  </div>
</nav>


<div class="container mt-3">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>

<lib-ui-toolkit [test]="'123'"  #ref (click)="ref.doNothing()"></lib-ui-toolkit>