<!-- div>mat-list>mat-list-item*3{Text} -->
<div [title]="playlist.name" [attr.data-id]="playlist.id " [id]="'playlist_'+playlist.id">
    <mat-list>
        <mat-list-item>
            <span matLine>Name:</span>
            <span [style.font-size.px]="24">{{playlist.name | titlecase}}</span>
            <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
            <span matLine>Public:</span>
            <span class="is-public" [ngClass]="{
                public: playlist.public, 
                private: playlist.public === false
            }">

                {{playlist.public | yesno:'Yes':'No'}}
            </span>
            <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
            <span matLine>Description:</span>
            <span matLine>{{ playlist.description | slice:0:20 | titlecase }}</span>
        </mat-list-item>

    </mat-list>


    <button mat-raised-button color="primary" (click)="edit.emit()">Edit</button>
</div>