/* You can add global styles to this file, and also import other style files */

/* npm i bootstrap */

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/utilities";


// // @import "~bootstrap/scss/root";
// // @import "~bootstrap/scss/reboot";
// // @import "~bootstrap/scss/type";
// @import '~bootstrap/scss/containers';
// @import '~bootstrap/scss/grid';
// @import '~bootstrap/scss/utilities';
// @import '~bootstrap/scss/helpers';
// @import '~bootstrap/scss/buttons';

// @import '~bootstrap/scss/forms';
// @import '~bootstrap/scss/card';

@import '~bootstrap/dist/css/bootstrap.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
