<div class="d-flex">
    <input type="checkbox" class="form-check"
 [checked]="checked" 
 (change)="changed.emit($any($event.target).checked)" 
 (blur)="touched.emit()">
 
 <div class="ms-2">
     <ng-content></ng-content>

 </div>
 
</div>