<div class="row">
    <div class="col">
        <app-playlist-list [selected]="(selected | async)?.id" (selectedChange)="selectPlaylist($event)"
            [playlists]="playlists|async"></app-playlist-list>
    </div>
    <div class="col" *ngIf="selected | async as playlist">

        <p class="alert alert-danger" *ngIf="error | async as error">{{error}}</p>

        <ng-container [ngSwitch]="mode |async">
            <ng-container *ngSwitchCase=" 'show' ">

                <app-playlist-details (edit)="edit(playlist.id)" [playlist]="playlist"></app-playlist-details>
            </ng-container>


            <ng-container *ngSwitchCase=" 'edit' ">
                <app-playlist-edit-form (cancel)="selectPlaylist(playlist.id)" (save)="savePlaylist($event)"
                    [playlist]="playlist"></app-playlist-edit-form>
            </ng-container>

        </ng-container>


    </div>
</div>