<p>counter works!</p>

<h1>{{counter | async}}</h1>

<div class="d-flex">
    <button (click)="inc()">+</button>
    <button (click)="reset()">reset</button>
    <button (click)="dec()">-</button>

</div>