<form [formGroup]="searchForm" class="form-group mb-3" #formRef="ngForm">


    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" formControlName="query"
            (keyup.alt.control.enter)=" submit()">
        <button class="btn btn-outline-secondary" (click)="submit()">Search</button>
    </div>

    <ng-container *ngIf="searchForm.get('query') as field">
        <p *ngIf="field.pending">Please wait.. checking..</p>
        <ng-container *ngIf="field.touched || field.dirty || formRef.submitted">
            <p *ngIf="field.hasError('required')">
                Field is required
            </p>

            <p *ngIf="field.getError('minlength') as error">
                Minimum {{error.requiredLength}} characters
            </p>

            <p *ngIf="field.getError('censor') as error">
                Cant contain words "{{error.badword}}"
            </p>
        </ng-container>
    </ng-container>



    <!-- <div class="input-group">
        <select class="form-control" formControlName="type">
            <option value="album">Album</option>
            <option value="artist">Artist</option>
        </select>
    </div> -->

    <!-- <app-form-messages [field]="searchForm.get('query')"></app-form-messages> -->
    <!-- 
        constructor( parent: FormGroupDirective ){}

    <ng-container *ngIf="this.field as field">
        <ng-container *ngIf="field.touched || field.dirty || formRef.submitted">
             <p *ngIf="field.hasError('required')">
                Field is required
            </p>
            <ng-content></ng-content>
        </ng-container>
    </ng-container>

     -->

</form>