input,
select,
textarea {
    &.ng-touched,
    &.ng-dirty {
        &.ng-valid {
            border: 1px solid green;
        }

        &.ng-invalid {
            border: 1px solid red;
        }
    }
}
